.main {
  align-items: center !important;
  background-color: rgb(97, 204, 216);
  /* display: flex; */
  justify-content: center !important;
  height: 100vh;
  margin: auto;
}
.title-content {
  width: 14%;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px;
  margin: auto;
}
